{{outlet}}

<div class="sections" role="main">




<div class="par parsys">


    
       
       
       
       <div class="jumbotron-container">












    <div class="container-fluid px0">
        <div class="interim-jumbotron-hubpage">
            <div class="interim-jumbotron-hubpage-ribbon-horizontal"></div>
            <div class="container">
                <div class="interim-jumbotron-hubpage-container">
         <img src="/aem6/content/dam/britishgas/hive/technology/what-is-a-smart-home-1.png" class="interim-jumbotron-hubpage-image" alt=" ">
                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 px0 interim-jumbotron-hubpage-content">
                        


    
       
       
       
       <div class="parbase text">
<h1><span class="strong">What is a smart home?</span></h1>

<p>A beginner's guide to making your home smarter</p>



</div>

    
    



                    </div>
                </div>
            </div>
        </div>
    </div>
    <svg class="interim-jumbotron-hubpage-curve" viewbox="0 0 1340 99" preserveaspectratio="none"><path d="M4.26325641e-14,100 L1340,100 L1340,0 C1026.66667,66.6666667 746.666667,100 500,100 C253.333333,100 86.6666667,76.6666667 8.52651283e-14,60 L4.26325641e-14,100 Z"></path></svg>


<div class="clearfix"></div></div>

    
    

    
       
       
       
       <div class="parbase panel-container">

<div></div>



    <div class="container-fluid pos-relative px0 ">
       
       <div id="panel_container" class="content-panel">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="content-panel-header">
                            <h2>What can a smart home do?</h2>
                        </div>
                        
                        <div class="content-panel-body">
                            


    
       
       
       
       <div class="parbase sandwich-column">


  

  

  <div class="clearfix"></div> 
  <div class="parsys_column flex-col col-xs-12 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 col-lg-10 col-lg-offset-1">
    


    
       
       
       
       <div class="parbase text">
<h4 style="text-align: center;">Smart home technology gives you new ways to manage your home and greater peace of mind wherever you are. From your heating, to your lights, to how you measure the amount of energy you use - smart home technology can help you save time, save money and create more time for the things that matter most.</h4>



</div>

    
    



  </div>
  <div class="clearfix"></div>

  
</div>

    
    



                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>



<div class="clearfix"></div>

	<script type="text/javascript">
    var tempIdDiv = panel_container;
		if(tempIdDiv!=undefined && tempIdDiv!=null){
            tempId	= $(tempIdDiv).attr("id");
            if(currentElement==undefined){
                var currentElement = [];
            }
            currentElement.push("#"+tempId+" .unstyled-container");
            resizePanelContainer("#"+tempId+" .unstyled-container");
            $(window).off('resize', windowResizePanelContainer).on('resize', windowResizePanelContainer);
		}
    </script>

</div>

    
    

    
       
       
       
       <div class="parbase panel-container">

<div></div>



    <div class="container-fluid pos-relative px0 ">
       
       <div id="panel_container_0" class="content-panel" style="padding-bottom:20px;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        
                        
                        <div class="content-panel-body">
                            


    
    <div id="zngofbh">
       
		   
           
           
           
           
           <div class="parsys_column col-xs-12 col-sm-6 bg-col-c0 flex-col two-column-outer-layout two-column-outer-layout1">
               
               <div class="image parbase">

    
    	<div id="cq-image-jsp-/content/britishgas/smart-home/technology/jcr:content/par/panel_container_0/par/image" class="image-five  ">
        	<img src="/aem6/content/britishgas/smart-home/technology/_jcr_content/par/panel_container_0/par/image.img.png/1545043915942.png" alt="Smart Home Products" title="Smart Home Products" class="cq-dd-image center-block">
    	</div>
    
</div>

           </div>
           
           
           
           
           
           
           
           

           
            
                
            
       
		   
           
           
           
           
           
           <div class="parsys_column col-xs-12 col-sm-6 bg-col-c1 flex-col two-column-outer-layout two-column-outer-layout2">
               
               <div class="parbase text">
<h4><strong>How a smart home can help you</strong></h4>

<ul>
<li><span class="blue-tick">Effortlessly manage your home, wherever you are<br>
 <br>
 </span></li>
<li><span class="blue-tick">Control your lights and heating with your phone - you'll never have to heat an empty home or worry if you left the iron on again<br>
 <br>
 </span></li>
<li><span class="blue-tick">Get peace of mind when you're out and about with smart products that let you know when a door or window gets opened at home<br>
 <br>
 </span></li>
<li><span class="blue-tick">Keep an eye on your energy use and lower your bills with smart meters<br>
 <br>
 </span></li>
<li><span class="blue-tick">Build a smart home to suit your needs when you set up your smart products to work together</span></li>
</ul>

<div> </div>



</div>

           </div>
           
           
           
           
           
           
           

           
            
       
       <div style="clear:both"></div>
       
       
    </div>



                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>



<div class="clearfix"></div>

	<script type="text/javascript">
    var tempIdDiv = panel_container_0;
		if(tempIdDiv!=undefined && tempIdDiv!=null){
            tempId	= $(tempIdDiv).attr("id");
            if(currentElement==undefined){
                var currentElement = [];
            }
            currentElement.push("#"+tempId+" .unstyled-container");
            resizePanelContainer("#"+tempId+" .unstyled-container");
            $(window).off('resize', windowResizePanelContainer).on('resize', windowResizePanelContainer);
		}
    </script>

</div>

    
    

    
       
       
       
       <div class="parbase panel-container">

<div></div>



    <div class="container-fluid pos-relative px0 grey-bg">
       
       <div id="panel_container_1" class="content-panel" style="padding-bottom:20px;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        
                        
                        <div class="content-panel-body">
                            


    
    <div id="ncrwjg">
       
		   
           
           
           
           
           <div class="parsys_column col-xs-12 col-sm-6 bg-col-c0 flex-col two-column-outer-layout two-column-outer-layout1">
               
               <div class="parbase text">
<h4><strong>Hive - a British Gas innovation</strong></h4>

<p>British Gas has a 200 year history of delivering the best in home and energy services. That’s why we’re working with Hive – the UK’s leading provider of smart home technology – to bring you a range of smart products and services that make your home life easier.</p>

<p>As Hive is part of the British Gas family, you benefit from the hands on expertise of our British Gas engineers who can fit your Hive products and show you how to get the best out of them.</p>

<p>Our customers also get exclusive offers and discounts across the Hive range.</p>



</div>

           
               
               <div class="divider">


<div>
    <div>
         
    <div style="height:10px;" class="blank-divider">
    </div>  

    </div>
    
    
</div>
</div>

           
               
               <div class="button"> 




<p>
    <a class="btn btn-aem btn-secondary center" role="button" href="/smart-home/hive-partnership.html" aria-label="Learn more">  
        <i class="fa fa-angle-right" aria-hidden="true"></i>Learn more
    </a>  
</p>








</div>

           </div>
           
           
           
           
           
           
           
           

           
            
                
            
       
		   
           
           
           
           
           
           <div class="parsys_column col-xs-12 col-sm-6 bg-col-c1 flex-col two-column-outer-layout two-column-outer-layout2">
               
               <div class="image parbase">

    
    	<div id="cq-image-jsp-/content/britishgas/smart-home/technology/jcr:content/par/panel_container_1/par/image" class="image-five  ">
        	<img src="/aem6/content/britishgas/smart-home/technology/_jcr_content/par/panel_container_1/par/image.img.png/1545044369620.png" alt="The British Gas / Hive Partnership" title="The British Gas / Hive Partnership" class="cq-dd-image center-block">
    	</div>
    
</div>

           </div>
           
           
           
           
           
           
           

           
            
       
       <div style="clear:both"></div>
       
       
    </div>



                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>



<div class="clearfix"></div>

	<script type="text/javascript">
    var tempIdDiv = panel_container_1;
		if(tempIdDiv!=undefined && tempIdDiv!=null){
            tempId	= $(tempIdDiv).attr("id");
            if(currentElement==undefined){
                var currentElement = [];
            }
            currentElement.push("#"+tempId+" .unstyled-container");
            resizePanelContainer("#"+tempId+" .unstyled-container");
            $(window).off('resize', windowResizePanelContainer).on('resize', windowResizePanelContainer);
		}
    </script>

</div>

    
    

    
       
       
       
       <div class="parbase fifty-fifty-panel-container">


<div class="container-fluid no-padding pos-relative">
    
    
        <div class="content-panel content-panel-split content-panel-split-right no-padding">
            <div class="content-panel-image col-xs-12 col-lg-6 col-lg-push-6 col-md-6 col-md-push-6 col-sm-12 background-cover background-top no-padding" style="background-image:url(/aem6/content/dam/britishgas/hive/technology/what-is-a-smart-home-4.png);">
                <div class="content-panel-curve"></div>
            </div>
            <div class="content-panel-body col-xs-12 col-lg-5 col-lg-pull-5 col-md-5 col-md-pull-5 col-sm-12">
                <div>


    
       
       
       
       <div class="parbase text">
<h2>Explore the Hive smart home</h2>

<h4>Discover the ultimate Hive smart home in stunning 360° and see how Hive products can work for you.</h4>



</div>

    
    

    
       
       
       
       <div class="button"> 


<div></div>

<p>
    <a class="btn btn-aem btn-primary center" role="button" href="https://smarthome.hivehome.com" aria-label="Dive in" target="_blank">  
        <i class="fa fa-angle-right" aria-hidden="true"></i>Dive in
    </a>  
</p>








</div>

    
    


</div>
            </div>
        </div>
        <div class="content-panel-shadow"></div>
    
</div>  





<div class="clearfix"></div>
</div>

    
    

    
       
       
       
       <div class="parbase panel-container">

<div></div>



    <div class="container-fluid pos-relative px0 ">
       
       <div id="panel_container_2" class="content-panel">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        
                        
                        <div class="content-panel-body">
                            


    
       
       
       
       <div class="parbase sandwich-column">


  

  

  <div class="clearfix"></div> 
  <div class="parsys_column flex-col col-xs-12 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 col-lg-10 col-lg-offset-1">
    


    
       
       
       
       <div class="parbase text">
<h2 style="text-align: center;">A family of Hive products that work together, right from your fingertips</h2>

<h4 style="text-align: center;">Smart home products can be used in lots of different ways and you can easily set them up to suit your needs. So, whether you want more control and convenience at home or peace of mind while you’re out, there’s a smart home product or service that will help.</h4>



</div>

    
    

    
       
       
       
       <div class="divider">


<div>
    <div>
         
    <div style="height:50px;" class="blank-divider">
    </div>  

    </div>
    
    
</div>
</div>

    
    

    
       
       
       
       <div class="image parbase">

    
    	<div id="cq-image-jsp-/content/britishgas/smart-home/technology/jcr:content/par/panel_container_2/par/sandwich_column/par/image" class="image-five  ">
        	<img src="/aem6/content/britishgas/smart-home/technology/_jcr_content/par/panel_container_2/par/sandwich_column/par/image.img.png/1545045371972.png" alt="Smart Home Products" title="Smart Home Products" class="cq-dd-image center-block">
    	</div>
    
</div>

    
    



  </div>
  <div class="clearfix"></div>

  
</div>

    
    



                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="content-panel-shadow"></div>
    </div>



<div class="clearfix"></div>

	<script type="text/javascript">
    var tempIdDiv = panel_container_2;
		if(tempIdDiv!=undefined && tempIdDiv!=null){
            tempId	= $(tempIdDiv).attr("id");
            if(currentElement==undefined){
                var currentElement = [];
            }
            currentElement.push("#"+tempId+" .unstyled-container");
            resizePanelContainer("#"+tempId+" .unstyled-container");
            $(window).off('resize', windowResizePanelContainer).on('resize', windowResizePanelContainer);
		}
    </script>

</div>

    
    

    
       
       
       
       <div class="parbase panel-container">

<div></div>



    <div class="container-fluid pos-relative px0 grey-bg">
       
       <div id="panel_container_3" class="content-panel" style="padding-bottom:20px;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        
                        
                        <div class="content-panel-body">
                            


    
    <div id="maohginl">
       
		   
           
           
           
           
           <div class="parsys_column col-xs-12 col-sm-6 bg-col-c0 flex-col two-column-outer-layout two-column-outer-layout1">
               
               <div class="parbase text">
<h3>Heating</h3>

<p><span class="large-text">With a smart thermostat, you can control your heating from your smartphone. You can turn your heating on or off, change the temperature or even set up heating schedules - all within Hive’s app.</span></p>

<p><span class="large-text">Hive Active Heating is a beautifully designed thermostat that works with your existing boiler. It could save you up to £130 a year<sup><a href="#caveat">[1]</a></sup> on your heating bill, as you'll never have to heat an empty home again.</span></p>



</div>

           
               
               <div class="divider">


<div>
    <div>
         
    <div style="height:10px;" class="blank-divider">
    </div>  

    </div>
    
    
</div>
</div>

           
               
               <div class="button"> 




<p>
    <a class="btn btn-aem btn-secondary center" role="button" href="/smart-home/hive-heating.html" aria-label="Discover Hive Heating">  
        <i class="fa fa-angle-right" aria-hidden="true"></i>Discover Hive Heating
    </a>  
</p>








</div>

           </div>
           
           
           
           
           
           
           
           

           
            
                
            
       
		   
           
           
           
           
           
           <div class="parsys_column col-xs-12 col-sm-6 bg-col-c1 flex-col two-column-outer-layout two-column-outer-layout2">
               
               <div class="image parbase">

    
    	<div id="cq-image-jsp-/content/britishgas/smart-home/technology/jcr:content/par/panel_container_3/par/image" class="image-five  ">
        	<img src="/aem6/content/britishgas/smart-home/technology/_jcr_content/par/panel_container_3/par/image.img.png/1545045741801.png" alt="Smart Heating" title="Smart Heating" class="cq-dd-image center-block">
    	</div>
    
</div>

           </div>
           
           
           
           
           
           
           

           
            
       
       <div style="clear:both"></div>
       
       
    </div>



                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>



<div class="clearfix"></div>

	<script type="text/javascript">
    var tempIdDiv = panel_container_3;
		if(tempIdDiv!=undefined && tempIdDiv!=null){
            tempId	= $(tempIdDiv).attr("id");
            if(currentElement==undefined){
                var currentElement = [];
            }
            currentElement.push("#"+tempId+" .unstyled-container");
            resizePanelContainer("#"+tempId+" .unstyled-container");
            $(window).off('resize', windowResizePanelContainer).on('resize', windowResizePanelContainer);
		}
    </script>

</div>

    
    

    
       
       
       
       <div class="parbase panel-container">

<div></div>



    <div class="container-fluid pos-relative px0 ">
       
       <div id="panel_container_4" class="content-panel" style="padding-bottom:20px;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        
                        
                        <div class="content-panel-body">
                            


    
    <div id="xraxspgik">
       
		   
           
           
           
           
           <div class="parsys_column col-xs-12 col-sm-6 bg-col-c0 flex-col two-column-outer-layout two-column-outer-layout1">
               
               <div class="parbase text">
<h3>Lights</h3>

<p><span class="large-text">Hive Lights let you control your lighting from your smartphone. You can change the colour of the bulbs, dim your lights or turn them on or off in one go.</span></p>

<p><span class="large-text">Hive Lights are available in both screw and bayonet fittings, E14 bulbs and as GU10 spotlights, so it's easy to upgrade any of your existing lights at home.</span></p>



</div>

           
               
               <div class="divider">


<div>
    <div>
         
    <div style="height:10px;" class="blank-divider">
    </div>  

    </div>
    
    
</div>
</div>

           
               
               <div class="button"> 




<p>
    <a class="btn btn-aem btn-secondary center" role="button" href="/smart-home/smart-lights.html" aria-label="Discover Hive Lights">  
        <i class="fa fa-angle-right" aria-hidden="true"></i>Discover Hive Lights
    </a>  
</p>








</div>

           </div>
           
           
           
           
           
           
           
           

           
            
                
            
       
		   
           
           
           
           
           
           <div class="parsys_column col-xs-12 col-sm-6 bg-col-c1 flex-col two-column-outer-layout two-column-outer-layout2">
               
               <div class="image parbase">

    
    	<div id="cq-image-jsp-/content/britishgas/smart-home/technology/jcr:content/par/panel_container_4/par/image" class="image-five  ">
        	<img src="/aem6/content/britishgas/smart-home/technology/_jcr_content/par/panel_container_4/par/image.img.png/1545047237153.png" alt="Smart Lighting" title="Smart Lighting" class="cq-dd-image center-block">
    	</div>
    
</div>

           </div>
           
           
           
           
           
           
           

           
            
       
       <div style="clear:both"></div>
       
       
    </div>



                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>



<div class="clearfix"></div>

	<script type="text/javascript">
    var tempIdDiv = panel_container_4;
		if(tempIdDiv!=undefined && tempIdDiv!=null){
            tempId	= $(tempIdDiv).attr("id");
            if(currentElement==undefined){
                var currentElement = [];
            }
            currentElement.push("#"+tempId+" .unstyled-container");
            resizePanelContainer("#"+tempId+" .unstyled-container");
            $(window).off('resize', windowResizePanelContainer).on('resize', windowResizePanelContainer);
		}
    </script>

</div>

    
    

    
       
       
       
       <div class="parbase panel-container">

<div></div>



    <div class="container-fluid pos-relative px0 grey-bg">
       
       <div id="panel_container_5" class="content-panel" style="padding-bottom:20px;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        
                        
                        <div class="content-panel-body">
                            


    
    <div id="juejnyxb">
       
		   
           
           
           
           
           <div class="parsys_column col-xs-12 col-sm-6 bg-col-c0 flex-col two-column-outer-layout two-column-outer-layout1">
               
               <div class="parbase text">
<h3>Cameras</h3>

<p><span class="large-text">Hive View and Hive View Outdoor cameras help you protect your home inside and out.</span></p>

<p><span class="large-text">With HD live streaming, night vision and two-way audio, you'll be able to see and talk to the people (or pets!) the cameras pick up at home, 24/7. If the cameras detect people, motion or sound while you're away from home, they'll keep you in the know with smartphone notifications.</span></p>



</div>

           
               
               <div class="divider">


<div>
    <div>
         
    <div style="height:10px;" class="blank-divider">
    </div>  

    </div>
    
    
</div>
</div>

           
               
               <div class="button"> 




<p>
    <a class="btn btn-aem btn-secondary center" role="button" href="/smart-home/smart-cameras.html" aria-label="Discover Hive View cameras">  
        <i class="fa fa-angle-right" aria-hidden="true"></i>Discover Hive View cameras
    </a>  
</p>








</div>

           </div>
           
           
           
           
           
           
           
           

           
            
                
            
       
		   
           
           
           
           
           
           <div class="parsys_column col-xs-12 col-sm-6 bg-col-c1 flex-col two-column-outer-layout two-column-outer-layout2">
               
               <div class="image parbase">

    
    	<div id="cq-image-jsp-/content/britishgas/smart-home/technology/jcr:content/par/panel_container_5/par/image" class="image-five  ">
        	<img src="/aem6/content/britishgas/smart-home/technology/_jcr_content/par/panel_container_5/par/image.img.png/1545047428679.png" alt="Smart Cameras" title="Smart Cameras" class="cq-dd-image center-block">
    	</div>
    
</div>

           </div>
           
           
           
           
           
           
           

           
            
       
       <div style="clear:both"></div>
       
       
    </div>



                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>



<div class="clearfix"></div>

	<script type="text/javascript">
    var tempIdDiv = panel_container_5;
		if(tempIdDiv!=undefined && tempIdDiv!=null){
            tempId	= $(tempIdDiv).attr("id");
            if(currentElement==undefined){
                var currentElement = [];
            }
            currentElement.push("#"+tempId+" .unstyled-container");
            resizePanelContainer("#"+tempId+" .unstyled-container");
            $(window).off('resize', windowResizePanelContainer).on('resize', windowResizePanelContainer);
		}
    </script>

</div>

    
    

    
       
       
       
       <div class="parbase panel-container">

<div></div>



    <div class="container-fluid pos-relative px0 ">
       
       <div id="panel_container_6" class="content-panel" style="padding-bottom:20px;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        
                        
                        <div class="content-panel-body">
                            


    
    <div id="cmwbaye">
       
		   
           
           
           
           
           <div class="parsys_column col-xs-12 col-sm-6 bg-col-c0 flex-col two-column-outer-layout two-column-outer-layout1">
               
               <div class="parbase text">
<h3>Plugs</h3>

<p><span class="large-text">Hive Plugs are really handy because they let you control your appliances you plug into them, directly from your smartphone.</span></p>

<p><span class="large-text">Our Hive Plugs are a great way to dip your toes in the water of smart home technology. Just think, you'll never have to worry you've left the iron on again!</span></p>



</div>

           
               
               <div class="divider">


<div>
    <div>
         
    <div style="height:10px;" class="blank-divider">
    </div>  

    </div>
    
    
</div>
</div>

           
               
               <div class="button"> 




<p>
    <a class="btn btn-aem btn-secondary center" role="button" href="/smart-home/smart-plugs.html" aria-label="Discover Hive Plugs">  
        <i class="fa fa-angle-right" aria-hidden="true"></i>Discover Hive Plugs
    </a>  
</p>








</div>

           </div>
           
           
           
           
           
           
           
           

           
            
                
            
       
		   
           
           
           
           
           
           <div class="parsys_column col-xs-12 col-sm-6 bg-col-c1 flex-col two-column-outer-layout two-column-outer-layout2">
               
               <div class="image parbase">

    
    	<div id="cq-image-jsp-/content/britishgas/smart-home/technology/jcr:content/par/panel_container_6/par/image" class="image-five  ">
        	<img src="/aem6/content/britishgas/smart-home/technology/_jcr_content/par/panel_container_6/par/image.img.png/1545047558645.png" alt="Smart Plugs" title="Smart Plugs" class="cq-dd-image center-block">
    	</div>
    
</div>

           </div>
           
           
           
           
           
           
           

           
            
       
       <div style="clear:both"></div>
       
       
    </div>



                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>



<div class="clearfix"></div>

	<script type="text/javascript">
    var tempIdDiv = panel_container_6;
		if(tempIdDiv!=undefined && tempIdDiv!=null){
            tempId	= $(tempIdDiv).attr("id");
            if(currentElement==undefined){
                var currentElement = [];
            }
            currentElement.push("#"+tempId+" .unstyled-container");
            resizePanelContainer("#"+tempId+" .unstyled-container");
            $(window).off('resize', windowResizePanelContainer).on('resize', windowResizePanelContainer);
		}
    </script>

</div>

    
    

    
       
       
       
       <div class="parbase panel-container">

<div></div>



    <div class="container-fluid pos-relative px0 grey-bg">
       
       <div id="panel_container_7" class="content-panel" style="padding-bottom:20px;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        
                        
                        <div class="content-panel-body">
                            


    
    <div id="ztfenolvu">
       
		   
           
           
           
           
           <div class="parsys_column col-xs-12 col-sm-6 bg-col-c0 flex-col two-column-outer-layout two-column-outer-layout1">
               
               <div class="parbase text">
<h3>Sensors</h3>

<p><span class="large-text">Hive Sensors give you peace of mind while you're away from home.</span></p>

<p><span class="large-text">Hive Window or Door Sensors and Hive Motion Sensors let you know what's happening when you're not around, plus our leak detection and boiler function sensors help you spot problems before they get out of hand.</span></p>



</div>

           
               
               <div class="divider">


<div>
    <div>
         
    <div style="height:10px;" class="blank-divider">
    </div>  

    </div>
    
    
</div>
</div>

           
               
               <div class="button"> 




<p>
    <a class="btn btn-aem btn-secondary center" role="button" href="/smart-home/smart-sensors.html" aria-label="Discover Hive Sensors">  
        <i class="fa fa-angle-right" aria-hidden="true"></i>Discover Hive Sensors
    </a>  
</p>








</div>

           </div>
           
           
           
           
           
           
           
           

           
            
                
            
       
		   
           
           
           
           
           
           <div class="parsys_column col-xs-12 col-sm-6 bg-col-c1 flex-col two-column-outer-layout two-column-outer-layout2">
               
               <div class="image parbase">

    
    	<div id="cq-image-jsp-/content/britishgas/smart-home/technology/jcr:content/par/panel_container_7/par/image" class="image-five  ">
        	<img src="/aem6/content/britishgas/smart-home/technology/_jcr_content/par/panel_container_7/par/image.img.png/1545047753383.png" alt="Smart Sensors" title="Smart Sensors" class="cq-dd-image center-block">
    	</div>
    
</div>

           </div>
           
           
           
           
           
           
           

           
            
       
       <div style="clear:both"></div>
       
       
    </div>



                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>



<div class="clearfix"></div>

	<script type="text/javascript">
    var tempIdDiv = panel_container_7;
		if(tempIdDiv!=undefined && tempIdDiv!=null){
            tempId	= $(tempIdDiv).attr("id");
            if(currentElement==undefined){
                var currentElement = [];
            }
            currentElement.push("#"+tempId+" .unstyled-container");
            resizePanelContainer("#"+tempId+" .unstyled-container");
            $(window).off('resize', windowResizePanelContainer).on('resize', windowResizePanelContainer);
		}
    </script>

</div>

    
    

    
       
       
       
       <div class="parbase panel-container">

<div></div>



    <div class="container-fluid pos-relative px0 ">
       
       <div id="panel_container_8" class="content-panel" style="padding-bottom:20px;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        
                        
                        <div class="content-panel-body">
                            


    
    <div id="iqhrpx">
       
		   
           
           
           
           
           <div class="parsys_column col-xs-12 col-sm-6 bg-col-c0 flex-col two-column-outer-layout two-column-outer-layout1">
               
               <div class="parbase text">
<h3>Hubs</h3>

<p><span class="large-text">It all starts with a Hive Hub. A Hive Hub is the heart of your smart home, it connects to your smart devices and helps you manage them remotely from the Hive app on your smartphone, tablet or laptop. Just connect it to your network, pair your Hive products and you’re ready to go.</span></p>



</div>

           
               
               <div class="divider">


<div>
    <div>
         
    <div style="height:10px;" class="blank-divider">
    </div>  

    </div>
    
    
</div>
</div>

           
               
               <div class="button"> 




<p>
    <a class="btn btn-aem btn-secondary center" role="button" href="/smart-home/hive-hubs.html" aria-label="Discover Hive Hubs">  
        <i class="fa fa-angle-right" aria-hidden="true"></i>Discover Hive Hubs
    </a>  
</p>








</div>

           </div>
           
           
           
           
           
           
           
           

           
            
                
            
       
		   
           
           
           
           
           
           <div class="parsys_column col-xs-12 col-sm-6 bg-col-c1 flex-col two-column-outer-layout two-column-outer-layout2">
               
               <div class="image parbase">

    
    	<div id="cq-image-jsp-/content/britishgas/smart-home/technology/jcr:content/par/panel_container_8/par/image" class="image-five  ">
        	<img src="/aem6/content/britishgas/smart-home/technology/_jcr_content/par/panel_container_8/par/image.img.png/1545047876171.png" alt="Smart Hubs" title="Smart Hubs" class="cq-dd-image center-block">
    	</div>
    
</div>

           </div>
           
           
           
           
           
           
           

           
            
       
       <div style="clear:both"></div>
       
       
    </div>



                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>



<div class="clearfix"></div>

	<script type="text/javascript">
    var tempIdDiv = panel_container_8;
		if(tempIdDiv!=undefined && tempIdDiv!=null){
            tempId	= $(tempIdDiv).attr("id");
            if(currentElement==undefined){
                var currentElement = [];
            }
            currentElement.push("#"+tempId+" .unstyled-container");
            resizePanelContainer("#"+tempId+" .unstyled-container");
            $(window).off('resize', windowResizePanelContainer).on('resize', windowResizePanelContainer);
		}
    </script>

</div>

    
    

    
       
       
       
       <div class="parbase panel-container">

<div></div>



    <div class="container-fluid pos-relative px0 ">
       
       <div id="panel_container_9" class="content-panel" style="padding-bottom:40px;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="content-panel-header">
                            <h2>British Gas customers get exclusive discounts</h2>
                        </div>
                        
                        <div class="content-panel-body">
                            


    
    <div id="eurmssswm">
       
		   
           
           
           
           
           <div class="parsys_column col-xs-12 col-sm-6 bg-col-c0 flex-col two-column-outer-layout two-column-outer-layout1">
               
               <div class="parbase text">
<h3>Hive Active Heating</h3>

<p><span class="large-text">Control your heating and hot water wherever you are from your smartphone, tablet or laptop and you could save up to £130 per year<sup><a href="#caveat">[1]</a> </sup>by never having to heat an empty home.</span></p>

<p><strong>What do you get with the Hive Active Heating?</strong></p>

<ul>
<li><span class="blue-tick">Hive Thermostat </span></li>
<li><span class="blue-tick">Hive Hub <br>
 </span></li>
<li><span class="blue-tick">Receiver<br>
 </span></li>
<li><span class="blue-tick">Free Amazon Echo Dot (3rd Gen)<sup><a href="#caveat">[2] </a></sup><br>
 </span></li>
<li><span class="blue-tick">Free installation, by one of our experts</span></li>
</ul>

<p>Plus, as a British Gas customer, you get a further £50 off the total cost, making it £199 for a one off payment or 12 monthly payments at £16.58.</p>



</div>

           
               
               <div class="divider">


<div>
    <div>
         
    <div style="height:10px;" class="blank-divider">
    </div>  

    </div>
    
    
</div>
</div>

           
               
               <div class="button"> 




<p>
    <a class="btn btn-aem btn-secondary center" role="button" href="/smart-home/hive-heating.html" aria-label="Find out more">  
        <i class="fa fa-angle-right" aria-hidden="true"></i>Find out more
    </a>  
</p>








</div>

           </div>
           
           
           
           
           
           
           
           

           
            
                
            
       
		   
           
           
           
           
           
           <div class="parsys_column col-xs-12 col-sm-6 bg-col-c1 flex-col two-column-outer-layout two-column-outer-layout2">
               
               <div class="divider">


<div class="hidden-xs">
    <div>
         
    <div style="height:40px;" class="blank-divider">
    </div>  

    </div>
    
    
</div>
</div>

           
               
               <div class="image parbase">

    
    	<div id="cq-image-jsp-/content/britishgas/smart-home/technology/jcr:content/par/panel_container_9/par/image" class="image-five  ">
        	<img src="/aem6/content/britishgas/smart-home/technology/_jcr_content/par/panel_container_9/par/image.img.png/1545048365111.png" alt="Hive Active Heating" title="Hive Active Heating" class="cq-dd-image center-block">
    	</div>
    
</div>

           </div>
           
           
           
           
           
           
           

           
            
       
       <div style="clear:both"></div>
       
       
    </div>

    
       
       
       
       <div class="divider">


<div>
    <div>
         
    <div style="height:50px;" class="blank-divider">
    </div>  

    </div>
    
    
</div>
</div>

    
    

    
    <div id="rvywvflykk">
       
		   
           
           
           
           
           <div class="parsys_column col-xs-12 col-sm-6 bg-col-c0 flex-col two-column-outer-layout two-column-outer-layout1">
               
               <div class="parbase text">
<h3>Hive Welcome Home Plan</h3>

<p><span class="large-text">You're in control with Hive products. Wherever you are, control your lighting and appliances with the touch of a button.</span></p>

<p><strong>What do you get with the Welcome Home Plan?</strong></p>

<ul>
<li><span class="blue-tick">1 x Hive Hub</span></li>
<li><span class="blue-tick">2 x Hive Light Dimmable light bulbs<br>
 </span></li>
<li><span class="blue-tick">1 x Hive Plug<br>
 </span></li>
<li><span class="blue-tick">1 x Hive Motion Sensor<br>
</span></li>
</ul>

<p>Get your home just the way you like it with Hive's cutting edge technology for just £9.99 a month.</p>



</div>

           
               
               <div class="divider">


<div>
    <div>
         
    <div style="height:10px;" class="blank-divider">
    </div>  

    </div>
    
    
</div>
</div>

           
               
               <div class="button"> 




<p>
    <a class="btn btn-aem btn-secondary center" role="button" href="/smart-home/welcome-home-plan.html" aria-label="Find out more">  
        <i class="fa fa-angle-right" aria-hidden="true"></i>Find out more
    </a>  
</p>








</div>

           </div>
           
           
           
           
           
           
           
           

           
            
                
            
       
		   
           
           
           
           
           
           <div class="parsys_column col-xs-12 col-sm-6 bg-col-c1 flex-col two-column-outer-layout two-column-outer-layout2">
               
               <div class="divider">


<div class="hidden-xs">
    <div>
         
    <div style="height:40px;" class="blank-divider">
    </div>  

    </div>
    
    
</div>
</div>

           
               
               <div class="image parbase">

    
    	<div id="cq-image-jsp-/content/britishgas/smart-home/technology/jcr:content/par/panel_container_9/par/image_0" class="image-five  ">
        	<img src="/aem6/content/britishgas/smart-home/technology/_jcr_content/par/panel_container_9/par/image_0.img.png/1545048757490.png" alt="Welcome Home Plan" title="Welcome Home Plan" class="cq-dd-image center-block">
    	</div>
    
</div>

           </div>
           
           
           
           
           
           
           

           
            
       
       <div style="clear:both"></div>
       
       
    </div>

    
       
       
       
       <div class="divider">


<div>
    <div>
         
    <div style="height:40px;" class="blank-divider">
    </div>  

    </div>
    
    
</div>
</div>

    
    

    
       
       
       
       <div class="parbase sandwich-column">


  

  

  <div class="clearfix"></div> 
  <div class="parsys_column flex-col col-xs-12 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 col-lg-4 col-lg-offset-4">
    


    
       
       
       
       <div class="image parbase">

    
    	<div id="cq-image-jsp-/content/britishgas/smart-home/technology/jcr:content/par/panel_container_9/par/sandwich_column/par/image" class="image-five  ">
        	<a href="https://uk.trustpilot.com/review/www.hivehome.com"><img src="/aem6/content/britishgas/smart-home/technology/_jcr_content/par/panel_container_9/par/sandwich_column/par/image.img.png/1547645504709.png" alt="Trustpilot" title="Trustpilot" class="cq-dd-image center-block"></a>
    	</div>
    

<script type="text/javascript">
    var imageDiv = document.getElementById("cq-image-jsp-/content/britishgas/smart-home/technology/jcr:content/par/panel_container_9/par/sandwich_column/par/image");
    var tagNodes = imageDiv.getElementsByTagName('A');
    for (var i = 0; i < tagNodes.length; i++) {
        var link = tagNodes.item(i); 
        link.setAttribute('target', '_blank');
    }
</script>
</div>

    
    



  </div>
  <div class="clearfix"></div>

  
</div>

    
    



                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="content-panel-shadow"></div>
    </div>



<div class="clearfix"></div>

	<script type="text/javascript">
    var tempIdDiv = panel_container_9;
		if(tempIdDiv!=undefined && tempIdDiv!=null){
            tempId	= $(tempIdDiv).attr("id");
            if(currentElement==undefined){
                var currentElement = [];
            }
            currentElement.push("#"+tempId+" .unstyled-container");
            resizePanelContainer("#"+tempId+" .unstyled-container");
            $(window).off('resize', windowResizePanelContainer).on('resize', windowResizePanelContainer);
		}
    </script>

</div>

    
    

    
       
       
       
       <div class="parbase panel-container">

<div></div>



    <div class="container-fluid pos-relative px0 ">
       
       <div id="panel_container_10" class="content-panel">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        
                        
                        <div class="content-panel-body">
                            


    
       
       
       
       <div class="parbase text">
<h3 style="text-align: center;">Frequently asked questions</h3>



</div>

    
    

    
       
       
       
       <div class="parbase faq">

<div class="bg-aem-faq-container col-xs-12 col-md-8 col-md-offset-2 text-left question">
	
	<div data-target="#jlsguovgb" data-toggle="collapse" class="arrow-up" tabindex="0" role="link">
		<h5 class="pull-left">Do you have to be a British Gas customer to be able to use Hive products and services?</h5>
		
	</div>
	<div id="jlsguovgb" class="collapse">
		<div class="answer"><p>No, you can buy Hive products and services regardless of who provides your energy.</p>


</div>
	</div>
	
</div>
<div class="faq-answer-outer"></div>
</div>

    
    

    
       
       
       
       <div class="parbase faq">

<div class="bg-aem-faq-container col-xs-12 col-md-8 col-md-offset-2 text-left question">
	
	<div data-target="#hybdfmlek" data-toggle="collapse" class="arrow-up" tabindex="0" role="link">
		<h5 class="pull-left">What is the relationship between British Gas and Hive?</h5>
		
	</div>
	<div id="hybdfmlek" class="collapse">
		<div class="answer"><p>Hive are a proud member of the British Gas family and we work closely with them to help make running your home and managing your energy use easier. They have grown to become the UK's leading Smart Home provider and design Smart Home solutions that bring your home to life. Occasionally, we might send you to their website to find more detail on a product or to complete a purchase.</p>


</div>
	</div>
	
</div>
<div class="faq-answer-outer"></div>
</div>

    
    

    
       
       
       
       <div class="parbase faq">

<div class="bg-aem-faq-container col-xs-12 col-md-8 col-md-offset-2 text-left question">
	
	<div data-target="#lksyydir" data-toggle="collapse" class="arrow-up" tabindex="0" role="link">
		<h5 class="pull-left">Are Hive products and services free?</h5>
		
	</div>
	<div id="lksyydir" class="collapse">
		<div class="answer"><p>Hive products and services aren’t free, but there are often great deals on offer for British Gas customers. Please check the Hive product and services pages for the latest prices.</p>


</div>
	</div>
	
</div>
<div class="faq-answer-outer"></div>
</div>

    
    

    
       
       
       
       <div class="parbase faq">

<div class="bg-aem-faq-container col-xs-12 col-md-8 col-md-offset-2 text-left question">
	
	<div data-target="#gnwfgpopbhg" data-toggle="collapse" class="arrow-up" tabindex="0" role="link">
		<h5 class="pull-left">How do I install the Hive app on my phone?</h5>
		
	</div>
	<div id="gnwfgpopbhg" class="collapse">
		<div class="answer"><p>The Hive app is available for Android and iOS users – you can download the iOS app from the iTunes App Store or download the Android app from the Google Play Store.</p>


</div>
	</div>
	
</div>
<div class="faq-answer-outer"></div>
</div>

    
    

    
       
       
       
       <div class="parbase faq">

<div class="bg-aem-faq-container col-xs-12 col-md-8 col-md-offset-2 text-left question">
	
	<div data-target="#qnbymngtr" data-toggle="collapse" class="arrow-up" tabindex="0" role="link">
		<h5 class="pull-left">What are the benefits of a smart home?</h5>
		
	</div>
	<div id="qnbymngtr" class="collapse">
		<div class="answer"><p>Smart home technology connects your home and makes daily living that much easier to manage. Our range of products and services save you time, money and give you the flexibility you need to run your home while you’re on the go.</p>


</div>
	</div>
	
</div>
<div class="faq-answer-outer"></div>
</div>

    
    

    
       
       
       
       <div class="parbase faq">

<div class="bg-aem-faq-container col-xs-12 col-md-8 col-md-offset-2 text-left question">
	
	<div data-target="#rbpcqrbcad" data-toggle="collapse" class="arrow-up" tabindex="0" role="link">
		<h5 class="pull-left">How do Hive products work together?</h5>
		
	</div>
	<div id="rbpcqrbcad" class="collapse">
		<div class="answer"><p>Hive products are controlled via the award-winning Hive app. With Hive Actions, you can set the products up to work together, giving you a truly connected home experience.</p>


</div>
	</div>
	
</div>
<div class="faq-answer-outer"></div>
</div>

    
    

    
       
       
       
       <div class="parbase faq">

<div class="bg-aem-faq-container col-xs-12 col-md-8 col-md-offset-2 text-left question">
	
	<div data-target="#jvcfordqj" data-toggle="collapse" class="arrow-up" tabindex="0" role="link">
		<h5 class="pull-left">What can I control with Hive and Alexa?</h5>
		
	</div>
	<div id="jvcfordqj" class="collapse">
		<div class="answer"><p>You can connect Hive Active Heating, Hive Lights and Hive Active Plugs to Amazon Alexa and make your home even smarter. Alexa can turn your heating on, turn on the lights and even turn the coffee machine on for you.</p>


</div>
	</div>
	
</div>
<div class="faq-answer-outer"></div>
</div>

    
    

    
       
       
       
       <div class="parbase faq">

<div class="bg-aem-faq-container col-xs-12 col-md-8 col-md-offset-2 text-left question">
	
	<div data-target="#wzhmmldtp" data-toggle="collapse" class="arrow-up" tabindex="0" role="link">
		<h5 class="pull-left">How to connect Hive to Alexa</h5>
		
	</div>
	<div id="wzhmmldtp" class="collapse">
		<div class="answer"><p>From your Alexa app, tap ‘Skills’ in the menu and search for Hive. There are two Hive Skills for Alexa so for the best Alexa experience, make sure you enable both to unlock all the Hive features. Once you have enabled both skills, enter your Hive username and password and follow the onscreen instructions.</p>


</div>
	</div>
	
</div>
<div class="faq-answer-outer"></div>
</div>

    
    

    
       
       
       
       <div class="parbase faq">

<div class="bg-aem-faq-container col-xs-12 col-md-8 col-md-offset-2 text-left question">
	
	<div data-target="#nbmrate" data-toggle="collapse" class="arrow-up" tabindex="0" role="link">
		<h5 class="pull-left">What can I control with Hive and Google Home?</h5>
		
	</div>
	<div id="nbmrate" class="collapse">
		<div class="answer"><p>You can use Google Home to control your Hive Active Lights and Hive Active Plugs.</p>


</div>
	</div>
	
</div>
<div class="faq-answer-outer"></div>
</div>

    
    

    
       
       
       
       <div class="parbase faq">

<div class="bg-aem-faq-container col-xs-12 col-md-8 col-md-offset-2 text-left question">
	
	<div data-target="#xuavznu" data-toggle="collapse" class="arrow-up" tabindex="0" role="link">
		<h5 class="pull-left">How long does it take to install Hive products?</h5>
		
	</div>
	<div id="xuavznu" class="collapse">
		<div class="answer">
<p>Hive products have been designed to ensure they can be installed easily. Please visit <a class="external-link-icon" href="https://community.hivehome.com/s/" target="_blank">Hive</a> for the individual installation guides.</p>


</div>
	</div>
	
</div>
<div class="faq-answer-outer"></div>
</div>

    
    



                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="content-panel-shadow"></div>
    </div>



<div class="clearfix"></div>

	<script type="text/javascript">
    var tempIdDiv = panel_container_10;
		if(tempIdDiv!=undefined && tempIdDiv!=null){
            tempId	= $(tempIdDiv).attr("id");
            if(currentElement==undefined){
                var currentElement = [];
            }
            currentElement.push("#"+tempId+" .unstyled-container");
            resizePanelContainer("#"+tempId+" .unstyled-container");
            $(window).off('resize', windowResizePanelContainer).on('resize', windowResizePanelContainer);
		}
    </script>

</div>

    
    

    
       
       
       
       <div class="scrollspy-anchor">



<a class="spy-anchor" name="caveat" href="#caveat" id="caveat" style="display:block;width:100%;height:1px;position:relative;top:-100px;" tabindex="-1" aria-hidden="true"></a>


</div>

    
    

    
       
       
       
       <div class="parbase panel-container">

<div></div>



    <div class="container-fluid pos-relative px0 slate-bg">
       
       <div id="panel_container_11" class="content-panel">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        
                        
                        <div class="content-panel-body">
                            


    
       
       
       
       <div class="caveat">




<ol class="caveat-list">
	<li id="caveat-1"><p>Savings based on annual energy consumption of 16,489 kWh.</p>


</li>

	<li id="caveat-1">
<p>£50 discount is available to new and existing British Gas energy, HomeCare and 5 Year Warranty customers only.<br>
Discount is off hivehome.com RRP: <a href="https://www.hivehome.com/products/hive-active-heating">https://www.hivehome.com/products/hive-active-heating</a><br>
Offer is limited to one Amazon Echo Dot (3rd gen) per customer, is subject to availability and may be withdrawn at any time. Offer cannot be used on pre-existing orders. We reserve the right to recover the cost of the Amazon Echo Dot voucher (if redeemed) from you upon cancellation of Hive Active Heating. Terms apply. <a href="https://www.hivehome.com/terms">www.hivehome.com/terms</a></p>


</li>
</ol></div>

    
    



                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>



<div class="clearfix"></div>

	<script type="text/javascript">
    var tempIdDiv = panel_container_11;
		if(tempIdDiv!=undefined && tempIdDiv!=null){
            tempId	= $(tempIdDiv).attr("id");
            if(currentElement==undefined){
                var currentElement = [];
            }
            currentElement.push("#"+tempId+" .unstyled-container");
            resizePanelContainer("#"+tempId+" .unstyled-container");
            $(window).off('resize', windowResizePanelContainer).on('resize', windowResizePanelContainer);
		}
    </script>

</div>

    
    


</div>



</div>
<div class="footer">





<div class="ember-footer footer">





<div id="bg-footer" data-component="bg-footer" data-attrs="{&quot;showQeryz&quot;: true}"></div>

<div id="cookie-warning" data-component="cookie-warning"></div>
</div>


    <script type="text/javascript">
      (function () {
        var tagjs = document.createElement("script");
        var s = document.getElementsByTagName("script")[0];
        tagjs.async = true;
        tagjs.src = "//s.btstatic.com/tag.js#site=HrfMxbT";
        s.parentNode.insertBefore(tagjs, s);
      }());
    </script>
    <noscript>
      <iframe title="brighttag" src="//s.thebrighttag.com/iframe?c=HrfMxbT" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    </noscript>

</div>


